<div class="playlist">
  <div *ngFor="let i of testLength" class="mat-elevation-z4 song rounded" matRipple>
    <div class="song_img">
      <i class="fas fa-play fa-lg absolute-center text-color-white opacity-50"></i>
      <img mat-card-image src="https://img.youtube.com/vi/8c0t1lpB1-Y/0.jpg" alt="thumbnail" />
    </div>
    <div class="song_info">
      <div class="song_info-top">
        <span class="song_info-top--artist">Artist {{i}}</span>
        -
        <span class="song_info-top--title">Title</span>
      </div>
      <div class="song_info-bottom">
        <span class="song_info-bottom--genre">Genre</span>
      </div>
    </div>
  </div>
</div>
