@import '../../../assets/scss/imports';

.register {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_form {
    position: relative;
    background-color: $color-tertiary;
    padding: 1rem;
    box-shadow: $box-shadow-lg;
    transition: all 0.3s;
  }

  &_info {
    margin-top: 2rem;
    color: $color-tertiary;
    font-size: 1.25rem;
    text-shadow: $text-shadow-sm;
    text-align: center;
  }
}
