<div class="credentials absolute-center">
  <form class="form rounded" [formGroup]="loginFrom" (ngSubmit)="onLogin()">
    <div class="form-group">
      <mat-form-field class="full-width">
        <input matInput placeholder="Username" formControlName="username" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </mat-form-field>
      <small class="form-text text-muted"
        >Enter your credentials to login.</small
      >
    </div>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      matTooltip="Click the button to submit the form"
    >
      Login
    </button>

    <yt-spinner *ngIf="spinning"></yt-spinner>
  </form>

  <p class="credentials_info">
    If you don't have an account click
    <a class="register" [routerLink]="['/welcome/register']">REGISTER</a>
  </p>
</div>
