<div class="header">
  <mat-toolbar color="primary" class="header_toolbar">
    <div class="header_brand">
      <h1 class="header_brand-title">
        <span class="header_brand-title--you">You</span>
        <span class="header_brand-title--tune">Tune</span>
      </h1>
    </div>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="beforeMenu" class="header_user">
      <i class="fas fa-user fa-lg"></i>
      <span class="header_user-name">Marko</span>
      <i class="fas fa-caret-down fa-lg"></i>
    </button>

  </mat-toolbar>
</div>
