<div class="login absolute-center">
  <form
    class="login_form rounded"
    [formGroup]="loginFrom"
    (ngSubmit)="onLogin()"
  >
    <div class="login_form-input-wrapper">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" formControlName="username" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" formControlName="password" />
      </mat-form-field>
      <small id="emailHelp" class="form-text text-muted"
        >Use numbers and mixed case letters for strong password.</small
      >
    </div>

    <button type="submit" mat-raised-button color="primary">Login</button>
  </form>
  <p class="login_info">
    If you don't have an account click
    <a class="login_info-register" [routerLink]="['/welcome/register']"
      >REGISTER</a
    >
  </p>
</div>
