<div class="credentials absolute-center">
  <form class="form rounded" [formGroup]="registerFrom" (ngSubmit)="onRegister()">
    <div class="form-group">
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Username" formControlName="username" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Password" formControlName="password" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <input matInput type="email" placeholder="Email" formControlName="email" />
      </mat-form-field>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <button type="submit" mat-raised-button color="primary" matTooltip="Click the button to submit the form">
      Register
    </button>

    <span #error [@domFader]="error" *ngIf="errorMessage !== undefined" class="credentials_form-error form-text ">
      {{ errorMessage }}
    </span>

    <div #s class="spinner" [@domFader]="s" *ytSpinnerToggle>
      <mat-spinner aria-label="loading content"></mat-spinner>
    </div>
  </form>
  <p class="credentials_info">
    Fill in the form to register.
  </p>
</div>
