<yt-header></yt-header>

<mat-tab-group>
  <mat-tab label="First">

  </mat-tab>
  <mat-tab label="Second">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente eos vel laudantium nesciunt ut error libero
    reprehenderit officiis ipsum necessitatibus? Accusantium esse similique at aut. Officia, sed commodi. Natus,
    ratione.
  </mat-tab>
  <mat-tab label="Third">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente eos vel laudantium nesciunt ut error libero
    reprehenderit officiis ipsum necessitatibus? Accusantium esse similique at aut. Officia, sed commodi. Natus,
    ratione.
  </mat-tab>
</mat-tab-group>
