@import '../../../../assets/scss/imports';

.list-header {
  padding: 1rem;

  &_title {
    width: 100%;
    display: block;
    margin-bottom: 1rem;

    font-weight: 300;
    font-style: italic;
    text-align: center;
    color: $color-secondary;
  }

  &_options {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;

    &-selection {
      display: flex;
      align-items: center;
    }

    &-button {
      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;
      transition: all 0.3s;
      width: 1.5rem;
      height: 1.5rem;
      margin-left: 1rem;
      margin-right: auto;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

      &:active {
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
          0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
      }
    }

    // &-sort {
    //   width: 3rem;
    //   height: 24px;
    //   overflow: visible;
    //   position: relative;
    //   margin-left: auto;
    //   display: flex;
    //   // justify-content: space-between;
    //   align-items: center;

    //   span {
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     cursor: pointer;
    //   }
    // }
  }
}
.list {
  min-width: 300px;
  position: relative;
  overflow-y: scroll;
  padding: 1rem;
  flex: 1;
  flex-grow: 1;
  flex-basis: auto;
  width: fit-content;
  transition: all 0.3s;
}

button {
  display: block;
  margin: 0 auto;
}
