@import '../../../../assets/scss/imports';

.list {
  padding: 0.5rem 1rem;
  overflow-y: scroll;
  flex: 1;
  flex-grow: 1;
  flex-basis: auto;
  width: fit-content;
  background-color: #00000008;
  box-shadow: $google-shadow-sm;
}

button {
  display: block;
  margin: 0 auto;
}
