@import '../../../../assets/scss/imports';

.list-header {
  padding: 1rem;

  &_title {
    width: 100%;
    display: block;
    margin-top: 1rem;

    font-weight: 300;
    font-style: italic;
    text-align: center;
    color: $color-secondary;
  }
}
.list {
  min-width: 300px;
  position: relative;
  overflow-y: scroll;
  padding: 1rem;
  flex: 1;
  flex-grow: 1;
  flex-basis: auto;
  width: fit-content;
  transition: all 0.3s;
}

button {
  display: block;
  margin: 0 auto;
}
